@font-face {
  font-family: Pixel;
  src: url(../fonts/SmallestPixel-7.ttf);
}

@font-face {
  font-family: Mono;
  src: url(../fonts/JetMono.ttf);
}

@font-face {
  font-family: RobotoBold;
  src: url(../fonts/Roboto-Bold.ttf);
}

h1 {
  font-family: Pixel, sans-serif;
  font-size: 60px;
  text-shadow: 0 5px 15px rgba(200, 200, 200, 1);
}

h2 {
  font-family: RobotoBold, sans-serif;
  font-weight: bold;
  text-shadow: 0 5px 15px rgba(220, 220, 220, 1);
  font-size: 30px;
}

h3 {
  font-family: RobotoBold, sans-serif;
  font-weight: bold;
  text-shadow: 0 5px 15px rgba(220, 220, 220, 1);
}

hr {
  border: none;
  width: 25%;
  margin: auto;
  color: rgb(219, 97, 92);
  background-color: rgb(219, 97, 92);
  height: 4px;
}

.info-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.items {
  width: 300px;
}

.container {
  width: max-content;
  margin: 0 auto;
}

.container p {
  text-align: left;
}
