@font-face {
  font-family: Pixel;
  src: url(../fonts/SmallestPixel-7.ttf);
}

@font-face {
  font-family: Mono;
  src: url(../fonts/JetMono.ttf);
}

h1 {
  font-family: Pixel, sans-serif;
  font-size: 60px;
  text-shadow: 0 5px 15px rgba(200, 200, 200, 1);
}

h2 {
  font-family: Mono, sans-serif;
  font-weight: bold;
  text-shadow: 0 5px 15px rgba(220, 220, 220, 1);
}

hr {
  width: 30%;
  margin: auto;
}

.info-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.items {
  width: 300px;
}

.container {
  width: max-content;
  margin: 0 auto;
}

.container p {
  text-align: left;
}
